/* SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * SPDX-FileCopyrightText: 2024 Joseph Martinsen <joseph@martinsen.com>
 */

 .header {
    background: #555;
    color: #f1f1f1;
    z-index: 1;
 }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.face-pile {
    display: flex;
    place-content: start;
}